.contact_section {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.social-link {
  width: 60px;
  height: 60px;
}

.linkedin {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact_content {
  display: flex;
  flex-direction: row;
}

.contact_me {
  display: flex;
  border: 1px black solid;
  height: 700px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.social-link {
  height: 30px;
  width: 30px;
}

.linkedin {
  height: 100%;
  width: 100%;
}

.form_section {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  height: 700px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Clean spacing between cards */
  width: 100%;
  max-width: 500px;
  border: 1px black solid;
  
  /* BULLETPROOF VERTICAL CENTERING TRICK: */
  margin-top: auto;
  margin-bottom: auto;
}

.form_title,
.form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.names_email,
.message_section {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: medium;
  color: rgb(90, 90, 90);
  font-family: garamond;
}

footer a {
  text-decoration: none;
  font-size: medium;
  color: rgb(90, 90, 90);
  font-family: garamond;
}