header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 4px;
  padding: 6px;
  backdrop-filter: blur(5px);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inherit;
  align-items: center;
}

.name_logo {
  font-size: 26px;
  font-weight: bold;
  margin: 4px;
  padding: 4px;
  cursor: pointer;
}

.quick_links {
  display: inherit;
  align-items: center;
  flex-direction: row;
  column-gap: 12px;
}

.quick_links p a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 4px;
  padding: 6px;
}